.tabs {
  display: inline-block;
  border-bottom: 2px solid rgb(168, 168, 168);
  width: -moz-available;
  margin-left: 2rem;
  margin-right: 2rem;
  .tab {
    margin-top: 0.5rem;
  }
}
.user {
  display: flex;
  margin: 0.5rem auto;
  float: right;
  align-items: center;
  .avt {
    width: 2rem;
    margin-right: 0.5rem;
  }
  .name {
    font-weight: 600;
  }
}
.log-out {
  display: inline;
  margin-left: 1rem;
  margin-top: 0.65rem;
  &:hover {
    cursor: pointer;
    color: rgb(112, 112, 112);
    font-weight: 500;
  }
  float: right;
}